.container {
  display: grid;
  row-gap: 1rem;
}

.card {
  color: var(--text-color);
  font-size: var(--small-text);

  &>*:first-child {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.25rem;
  }

  p {
    color: var(--color-gray-dark);
  }

  svg {
    color: var(--color-primary);
  }
}