.container {
  display: grid;
  row-gap: 1rem;
}

.card {
  color: var(--color-black);
  font-size: var(--small-text);

  &>*:first-child {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.25rem;
  }
}